<%- include('../../includes/page-top.ejs', { 
  pageTitle: 'Réflexions'
}) %>
<section>
  <article class="lh-copy">
    Je ne cherche pas tant à démontrer la vérité d'un message religieux 
    qu'à examiner les objections qui conduisent à l'ignorer. 
    En exigeant des preuves parfaites avant de croire, on met souvent de côté 
    les questions importantes. On se retrouve ensuite surpris par les tragédies
    inévitables qui secouent les fondations de notre existence. J'aimerais aider 
    ceux qui veulent être prévoyant à trouver des pistes de réponse tout en 
    respectant leur rigueur intellectuelle.

    <p>
      Voici quelques-unes de mes réflexions écrites :
    </p>
  </article>
  <div>
    <table class="f6">
      <tbody>
        <% reflexions.forEach(reflexion => { %>
          <tr class="lh-copy">
            <td class="pv2 v-top">
              <time class="black-60"><%= reflexion.date %></time>
              <span class="black-60"> — </span>  
              <a class="link" href="<%= reflexion.link %>"><%= reflexion.title %></a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
<!-- <section>
  <h2>Archive</h2>
  <article class="lh-copy">
    <p>
      Je garde ici quelques publications qui datent de ma carrière comme 
      consultant en cybersécurité.
    </p>
    
    <p>
      [articles…]
    </p>
  </article>
</section> -->
<%- include('../../includes/page-bottom.ejs') %>
